@charset "utf-8";
/* CSS Document */

body{
background-image:url("../images/bluerock.jpg");
font-family:Comic Sans MS, Comic Sans;
color:#FFFF00;
text-align:center;
}

marquee{
color:#006600;
}

a:link, a:visited{
color:#FFFFFF;
}
a:hover{
font-weight:bold;
}

ul, li {
    color: red;
}

ul {
    width:400px; 
    margin:0 auto;
    text-align:left;
}